@using Nop.Services.Plugins;
@using Nop.Services.Cms;
@inject IWidgetPluginManager widgetPluginManager
@inject IPluginService pluginService;
@{
    Layout = "_ColumnsOne";

    bool isOcarouselPluginInstall = await widgetPluginManager.LoadPluginBySystemNameAsync("NopStation.Plugin.Widgets.OCarousels") != null;
    bool isHomepageNewsEnable = await widgetPluginManager.LoadPluginBySystemNameAsync("NopStation.Plugin.Widgets.BlogNews") != null;

    //page class
    NopHtml.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageTop })
        @await Component.InvokeAsync(typeof(TopicBlockViewComponent), new { systemName = "HomepageText" })
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })

        @if (!isOcarouselPluginInstall)
        {
            @await Component.InvokeAsync(typeof(HomepageCategoriesViewComponent))
        }

        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
        @if (!isOcarouselPluginInstall)
        {
            @await Component.InvokeAsync(typeof(HomepageProductsViewComponent))
        }

        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync(typeof(HomepageBestSellersViewComponent))
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeNews })

        @if (!isHomepageNewsEnable)
        {
            @await Component.InvokeAsync(typeof(HomepageNewsViewComponent))
        }

        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
        @await Component.InvokeAsync(typeof(HomepagePollsViewComponent))
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBottom })
    </div>
</div>
