@model IList<PollModel>
@if (Model.Count > 0)
{
    <div class="custom-container-fluid">
        <div class="home-page-polls my-5">
            <div class="title">
                <strong>@T("Polls.Title")</strong>
            </div>
            @foreach (var poll in Model)
            {
                @await Html.PartialAsync("_Poll", poll)
            }
        </div>
    </div>
}
